@page "/form"

@inject NavigationManager NavManager
@inject Session session

@code {
    public List<string> questions = new List<string>();
    public string msg = "";
    int defaultScore = -5;
    bool invalidSubmit = false;
    QLodge qLodge = new QLodge();

    protected override void OnInitialized()
    {
        if (!session.IsLoggedIn())
        {
            NavManager.NavigateTo($"/logout");
            return;
        }

        qLodge = session._nikeForm.QLodge;
    }

    private void Submit()
    {
        if (!qLodge.Validate())
        {
            invalidSubmit = true;
            StateHasChanged();
            return;
        }

        NavManager.NavigateTo($"report");
    }
}

<div>
    <div class="row">
        <div class="col-1"></div>

        <div class="col-10">
            <div class="row">

                <EditForm Model="@qLodge.Questions" OnValidSubmit="@Submit">
                    <DataAnnotationsValidator />

                    @foreach (var q in qLodge.Questions)
                    {
                        <div class="mb-2">
                            @{
                                var validClass = "form-control";
                                if (invalidSubmit && q.Score == -5) validClass = "form-control invalid";
                            }

                            <InputSelect @bind-Value="q.Score" class="@validClass">
                                @foreach (var a in q.Answers)
                                {
                                    <option value="@a.Value">@a.Name</option>
                                }
                            </InputSelect>

                            <ValidationMessage For="@(() => q.Score)" />

                            @if (q.Score == -1)
                            {
                                <p>Upload Image</p>
                                <p>Action</p>
                                <p>Date</p>
                            }
                            <p>@q.Score</p>
                        </div>
                    }
                </EditForm>
            </div>
            
            <button type="submit" @onclick=Submit>Submit</button>

            @if (!string.IsNullOrEmpty(msg))
            {
                <p style="color:red">@msg</p>
            }
        </div>

        <div class="col-1"></div>
    </div>
</div>