@page "/report"

@inject NavigationManager NavManager
@inject Session session

@code {
    public NikeForm report { get; set; } = new NikeForm();

    protected override void OnInitialized()
    {
        if (!session.IsLoggedIn())
        {
            NavManager.NavigateTo($"/logout");
            return;
        }

        report = session._nikeForm;
        report.Sum();
        //session._nikeForm.QLodgeSecurity.Sum();
    }
}

<div>
    <div>
        <h1>LPA</h1>
        <h2>Loss prevention awareness</h2>

        <br />
    </div> @*Banner*@

    <div>
        <div class="row">
            <div class="col-6">Client</div>
            <div class="col-6">Nike</div>
        </div>

        <div class="row">
            <div class="col-6">Store</div>
            <div class="col-6">?</div>
        </div>

        <div class="row">
            <div class="col-6">Audit type</div>
            <div class="col-6">Nike</div>
        </div>

        <div class="row">
            <div class="col-6">Date</div>
            <div class="col-6">@DateTime.Now.ToString()</div>
        </div>

        <div class="row">
            <div class="col-6">Previous score</div>
            <div class="col-6">?</div>
        </div>

        <div class="row">
            <div class="col-6">Current shrinkage</div>
            <div class="col-6">Nike</div>
        </div>

        <div class="row">
            <div class="col-6">Address</div>
            <div class="col-6">?</div>
        </div>

        <br />
    </div> @*Heading*@

    <div>
        <h3 style="color:red">Non - Compliance</h3>
        @foreach (var q in report.QLodgeSecurity.Questions.Where(s => s.Score < 0).ToList())
        {
            <p>@q.Text</p>
        }

        @foreach (var q in report.QPhysicalSecurity.Questions.Where(s => s.Score < 0).ToList())
        {
            <p>@q.Text</p>
        }

        <br />
    </div> @*Non - Compliance*@

    <div>
        <h3>Score Summary</h3>
        <div class="row">
            <div class="col-3">Set</div>
            <div class="col-3">ScoreTotal</div>
            <div class="col-3">ScoreMax</div>
            <div class="col-3">ScorePercent</div>
        </div>

        <div class="row">
            <div class="col-3">Lodge Security</div>
            <div class="col-3">@report.QLodgeSecurity.ScoreTotal</div>
            <div class="col-3">@report.QLodgeSecurity.ScoreMax</div>
            <div class="col-3">@report.QLodgeSecurity.ScorePercent</div>
        </div>

        <div class="row">
            <div class="col-6">Physical Security</div>
            <div class="col-6">@report.QPhysicalSecurity.Total</div>
        </div>

        <div class="row" style="font-weight: bold">
            <div class="col-6">total</div>
            <div class="col-6">@report.Total</div>
        </div>

        <br />
    </div> @*Scores Summary*@


    <div>
        <h3>Score for Lodge Security Questions: @report.QLodgeSecurity.ScoreTotal</h3>
        @foreach (var q in report.QLodgeSecurity.Questions)
        {
            <Web.Components.NikeReport.NikeR q="q" />
        }

        <br />
    </div>

    <div>
        <h3>Score for Physical Security Questions: @report.QPhysicalSecurity.Total</h3>
        @foreach (var q in report.QPhysicalSecurity.Questions)
        {
            <Web.Components.NikeReport.NikeR q="q" />
        }

        <br />
    </div>
</div>