@using ChartJs.Blazor.Common.Enums;
@using ChartJs.Blazor.PieChart;
@using ChartJs.Blazor.BarChart;
@using System.Drawing;
@using ChartJs.Blazor.Common;
@using ChartJs.Blazor.Util;

@inject Bll bll;

@code {
    [Parameter] public NikeForm report { get; set; }
    private PieConfig _pieConfig = new PieConfig();
    private BarConfig _barConfig = new BarConfig();
    private Chart _chart = new Chart();
    Shrinkage shrinkage = new();

    protected override void OnInitialized()
    {
        InitShrinkage();
        _pieConfig = bll.PieInit(report.Shrinkage);
        _barConfig = bll.BarSetup(report);
    }

    public void InitShrinkage()
    {
        report.Shrinkage.ProcessFailure.Value = 40;
        report.Shrinkage.InternalTheft.Value = 30;
        report.Shrinkage.ExternalTheft.Value = 21;
        report.Shrinkage.SupplierFraud.Value = 7;

        shrinkage = report.Shrinkage;
    }
}

<div>
    <div class="mb-5">
        <div class="row">
            <div class="col-6 outerSet">
                <h4 class="headText">Shrinkage Barometer</h4>
                <Chart Config="_pieConfig"></Chart>
                <br/>
                <div>
                    @{
                        var pFC = shrinkage.ProcessFailure.Color;
                        var iTC = shrinkage.InternalTheft.Color;
                        var eTC = shrinkage.ExternalTheft.Color;
                        var sFC = shrinkage.SupplierFraud.Color;


                        var pfcColor = "#" + pFC.R.ToString("X2") + pFC.G.ToString("X2") + pFC.B.ToString("X2");
                        var itcColor = "#" + iTC.R.ToString("X2") + iTC.G.ToString("X2") + iTC.B.ToString("X2");
                        var etcColor = "#" + eTC.R.ToString("X2") + eTC.G.ToString("X2") + eTC.B.ToString("X2");
                        var sfcColor = "#" + sFC.R.ToString("X2") + sFC.G.ToString("X2") + sFC.B.ToString("X2");
                    }
                    <div class="row">
                        <div class="col-8"
                             style="color:@pfcColor">
                            @shrinkage.ProcessFailure.Name
                        </div>
                        <div class="col-4">@(shrinkage.ProcessFailure.Value)%</div>
                    </div>
                    <div class="row">
                        <div class="col-8"
                             style="color:@itcColor">
                            @shrinkage.InternalTheft.Name
                        </div>
                        <div class="col-4">@(shrinkage.InternalTheft.Value)%</div>
                    </div>
                    <div class="row">
                        <div class="col-8"
                             style="color:@etcColor">
                            @shrinkage.ExternalTheft.Name
                        </div>
                        <div class="col-4">@(shrinkage.ExternalTheft.Value)%</div>
                    </div>
                    <div class="row">
                        <div class="col-8"
                             style="color:@sfcColor">
                            @shrinkage.SupplierFraud.Name
                        </div>
                        <div class="col-4">@(shrinkage.SupplierFraud.Value)%</div>
                    </div>
                </div> @*summary of shrinkage*@
            </div>

            <div class="col-6 outerSet">
                <h4 class="headText">LPA Score</h4>
                <Chart Config="_barConfig" @ref="_chart"></Chart>

                <Web.Components.NikeReport.ScoreSummaryGroup.TotalLpaScore qSets="report.ListQSet" />
            </div>
        </div>

    </div> 
</div>

<style>
    .outerSet {
        border: 1px solid black;
    }

    .headText{
        text-align: center;
    }
</style>