
@code {
    [Parameter] public bool invalidSubmit { get; set; }
    [Parameter] public Question q { get; set; }

    public void SubmitFailed()
    {

    }

    public void Submit()
    {
        
    }
}


<div class="mb-2">
    @{
        var validClass = "form-control";

        if (invalidSubmit && q.Score == -5) validClass = "form-control invalid";
    }

    <InputSelect @bind-Value="q.Score" class="@validClass">
        @foreach (var a in q.Answers)
        {
            <option value="@a.Value">@a.Name</option>
        }
    </InputSelect>

    <ValidationMessage For="@(() => q.Score)" />
</div>

@if (q.Score == -1)
{
    <div class="row mb-4">
        <div class="col-4">
            <InputText id="Action" class="form-control" @bind-Value="q.Alert.Action" placeholder="Action" />
            <ValidationMessage For="@(() => q.Alert.Action)" />
        </div>

        <div class="col-4">
            <InputText id="Person" class="form-control" @bind-Value="q.Alert.Person" placeholder="Responsible" />
            <ValidationMessage For="@(() => q.Alert.Person)" />
        </div>

        <div class="col-4">
            <InputDate id="Due" class="form-control" @bind-Value="q.Alert.Due" placeholder="Date" />
            <ValidationMessage For="@(() => q.Alert.Due)" />
        </div>

        @*<div class="col-3"><button type="button">Upload</button></div>*@
    </div>
}