
@code {
    [Parameter] public EventCallback<string> Confirmed { get; set; }
    [Parameter] public bool invalidSubmit { get; set; }
    [Parameter] public string btnText { get; set; }
    [Parameter] public QSet QSet { get; set; }


    public async Task Submitting()
    {
        await Confirmed.InvokeAsync(QSet.Title);
    }
}

<div class="row mb-4">
    <h4>@QSet.Title</h4>
    <EditForm Model="@QSet.Questions" OnValidSubmit="@Submitting">
        <DataAnnotationsValidator />
        @foreach (var q in QSet.Questions) 
        {
            <div class="mb-5">
                <h6>@q.Text</h6>
                <NikeQ invalidSubmit=@invalidSubmit q=q />
            </div>
        }
    </EditForm>

    <button type="submit" @onclick=Submitting>@btnText</button>

</div>
